/*  Site Stylesheet

    1. Global Styles
    2. Structure Styles
    3. Modules Styles
    4. Typography Styles
*/

/* 1. Global Styles
==================================*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 22px;
    color: seashell;
    background: black;
    opacity: 0.5;    
    text-align: center;
}

/* 2. Structure Styles */

header {
    height: 69px;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid seashell; 
    position: sticky;
    top: 0;
    background-color: black;
}

main {
    background: url("resources/img-mission-background.jpg") no-repeat center center;
    background-size: cover;
    min-height: 700px;   
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
}

header img {
    height: 50px;
    opacity: 0.9;
}

nav a {
    color: inherit;
    margin: 0 10px;
}


/* 3. Modules Styles */

.main-text {
    background: black;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.main-text * {
    margin: 10px 0;
}

.tea-of-the-month {
    display: flex;
    flex-direction: column;
    align-items: center;    
    padding: 5%0px;
}

.tea-images {
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tea-images img {    
    height: 200px;
    width: 300px;
    margin: 10px 10px;
}

.tea-of-the-month h4, .tea-of-the-month h2 {
    padding: 10px;
}

.locations {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url("resources/img-locations-background.jpg") no-repeat center center;
    background-size: cover;
    max-width: 1200px;
    height: 500px;
    margin: auto;
    margin-bottom: 10px;
} 

.addresses {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.addresses address {
    width: 300px;
    background: black;
    padding: 20px;
    opacity: 1;
}

.contact {
    height: 200px;
}

.footer {
    display: flex;
    flex-direction: column;
}

.copyright {
    text-align: left;
}

/* 4. Typography
=================================== */

address h4 {
    margin: 15px;
}

address p {
    line-height: 3;
}

.locations h2 {
    margin-bottom: 15px;
}

.contact h2 {
    margin-bottom: 20px;
}

.contact h5 {
    margin: 30px;
}

#copyright h4 {
    text-align: left;
    margin: 10px 20px;
}